form#new-user-form{
    width:500px;
    margin:30px auto;
    border:1px solid silver;
    background:white;

    border-radius:0.3em;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    padding:20px;
}

label {
    display:block;
    padding:15px 0 5px 0;
}

input[type=text],
input[type=password],
select{
    padding:3px;
    border:1px solid #7f9db9; /* Reseting border */
}

.btn-container label {
    display:inline-block;
    font-size: 14px;
    padding:5px 0;
}
div.btn-container {
    display: block;
    float: none;
    height: 100%;
}

.rounded {
    border-radius:30px;
    text-indent:3px;
}

.shadow {
    box-shadow:inset 0 0 5px rgba(0,0,0,0.3);
}

.shadow2 {
    box-shadow:inset 0 2px 2px rgba(0,0,0,0.2);
}

.required:after {
    content:"*";
    display:inline-block;
    color:red;
    padding-left:10px;
}


form#add-user-form {
    display: none;
}

button#close {
    position: relative;
    float: right;
}


footer{
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 10px auto;
}

p#confirm {
    display: none;
}