<form id="new-user-form" method="post">
  <button type="button" id="close">X</button>
  <h6>Add user</h6>
  <p>email - <input type="text" name="email" required></p>
  <p>Password - <input type="password" name="password" required></p>


</form>